$side: 10em;
$depth: 2em;
$shadow-width: 2em;

body {
    perspective: $depth*20;
    perspective-origin: center center;
    overflow: hidden;
    font-size: 14px;
    background: #000;
    background-image: linear-gradient(
        to right,
        hsla(0, 0%, 100%, .025) 50%,
        transparent 50%
    );
    background-size: 2rem 100%;
}

.container {
    width: 10em;
    height: 10em;
    transform-style: preserve-3d;
    animation: rotate 12s infinite linear;
}

.cube {
    position: absolute;
    width: 10em;
    height: 10em;
    // outline: 2px solid gold;
    transform-style: preserve-3d;
    
    &--2 {
        transform: rotateX(45deg) rotateY(45deg);
    }
    &--3 {
        transform: rotateX(45deg) rotateZ(45deg);
    }
}

.side {
    position: absolute;
    width: $side;
    height: $side;
    border: 2px dotted hsla(50, 100%, 50%, .35);
    border-radius: 50%;
    
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    
    &::before, 
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        box-sizing: border-box;
        border-radius: inherit;
        border: 1px solid;
        box-shadow: 
            inset 0 0 $shadow-width,
            0 0 $shadow-width;
    }
    &::before {
        width: $side * .25;
        height: $side * .25;
        color: gold;
    }
    &::after {
        width: $side * .15;
        height: $side * .15;
        transform: translateZ(-$depth);
        box-shadow: 
            inset 0 0 $shadow-width/2,
            0 0 $shadow-width/2;
        color: teal;
    }
}

.side--back {
    transform: translateZ(-5em) rotateY(180deg);
}

.side--left {
    transform: translateX(-5em) rotateY(-90deg);
}

.side--right {
    transform: translateX(5em) rotateY(90deg);
}

.side--top {
    transform: translateY(-5em) rotateX(90deg);
}

.side--bottom {
    transform: translateY(5em) rotateX(-90deg);
}

.side--front {
    transform: translateZ(5em);
}

.side__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    width: $side * .5;
    height: $side * .5;
    margin: auto;
    
    border-radius: inherit;
    border: 1px solid;
    box-shadow: 
        inset 0 0 $shadow-width;
    color: orangered;
    
    transform: translateZ($depth);
    transform-style: preserve-3d;

    &::before, 
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        box-sizing: border-box;
        border-radius: inherit;
        border: 1px solid;
        box-shadow: 
            inset 0 0 $shadow-width,
            0 0 $shadow-width;
    }
    &::before {
        width: $side * .25;
        height: $side * .25;
        transform: translateZ($depth);
        color: crimson;
    }
    &::after {
        width: $side * .15;
        height: $side * .15;
        transform: translateZ($depth * 2);
        color: purple;
    }
}

@keyframes rotate {
    100% {
        transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
    }
}

// Helpers

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
